.file-card {
    position: relative;
    border-radius: 10px;
    height: 250px;
    width: 170px;
    overflow: hidden;

    .file-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        .internal-video-container {
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .upload-segments-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            flex-direction: row;
            justify-content: stretch;

            width: 100%;
            height: 100%;

            border: 0px solid transparent;
            transition: 0.2s;
            border-radius: 10px;

            .upload-segment {
                flex: 1 1;
                background-color: #000;
                transition: 0.1s;
                opacity: 0.7;

                &.ok {
                    opacity: 0;
                }

                &.err {
                    background-color: red;
                }
            }

            &.complete {
                border: 3px solid greenyellow;
            }

            &.err {
                border: 3px solid red;
            }

            &.processing {
                border: 3px solid;
                animation: internal-file-card-processing-blinking 0.5s linear infinite;

                @keyframes internal-file-card-processing-blinking {
                    0% {
                        border-color: transparent;
                    }

                    50% {
                        border-color: yellow;
                    }

                    100% {
                        border-color: transparent;
                    }
                }
            }

            &.complete,
            &.err,
            &.processing {
                flex-direction: column-reverse;
                align-items: end;
                justify-content: end;
                gap: 5px;
                padding: 5px;
            }
        }
    }

    .file-data {
        z-index: 5;
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: color-mix(in srgb, var(--background) 50%, transparent 50%);
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        backdrop-filter: blur(4px);

        .file-name {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .file-size {
            cursor: help;
        }

        .uploaded-on,
        .erase-on {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

        .tags-list {
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: 5px;
            flex-wrap: wrap;
        }

        .drawer-btn {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            padding: 3px;
            border-radius: 0 0 10px 10px;
            background-color: color-mix(in srgb, var(--background) 50%, transparent 50%);
            text-align: center;
            cursor: pointer;
            user-select: none;

            &:hover {
                color: var(--interactible-hover);
            }
        }

        &.open {
            bottom: 0%;

            .drawer-btn {
                top: unset;
                bottom: 0;
                background-color: transparent;
                backdrop-filter: none;

                .arrow {
                    transform: rotateZ(180deg);
                }
            }
        }
    }

    .low-label {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        border-left: none;
        z-index: 1;
    }
}