html {
    overflow: auto;
    box-sizing: content-box;
}

body {
    position: relative;
    background-color: var(--background);
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.dev-build-info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    background-clip: text;
    background-image: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
    color: transparent;

    white-space: nowrap;
}
