::-webkit-scrollbar {
    width: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: var(--background-s);
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-main);
    border-radius: 100vh;
    border: 3px solid transparent;
    background-clip: padding-box;

    transition: 0.2s;

    &:hover {
        background-color: var(--font-hover);
    }
}

html {
    overflow: auto;
    box-sizing: content-box;
}

body {
    position: relative;
    background-color: var(--background);
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.build-info {
    position: relative;
    border-radius: 6px;
    padding: 3px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        transform: rotate(0deg) scale(3);
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        animation: BI-rotate 6s linear infinite;
    }

    &.DEV::before {
        background-image: linear-gradient(0deg, #FC466B 0%, #FC466B 50%, #fb613f 50%, #fb613f 100%);
    }

    &.EVAL::before {
        background-image: linear-gradient(0deg, #FC466B 0%, #FC466B 50%, #3F5EFB 50%, #3F5EFB 100%);
    }

    &.REL::before {
        background-image: linear-gradient(0deg, #46fc46 0%, #46fc46 50%, #3F5EFB 50%, #3F5EFB 100%);
    }

    @keyframes BI-rotate {
        to {
            transform: rotate(360deg) scale(3);
        }
    }

    .txt-cont {
        position: relative;
        white-space: nowrap;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 3px;
    }
}

.hidden {
    display: none;
}

.age-check-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    background-color: color-mix(in srgb, var(--background) 90%, transparent 10%);
    padding: 20px;
    border-radius: 20px;

    overflow: visible;

    .age-check-label {
        font-size: 40px;
    }
}
