ENVIROMENT="" # enviroment the app is deployed in REL / EVAL / DEV
DATABASE_URL="postgresql://postgres:postgres@<localhost or IP>:5432/furry-index?schema=public" # DO NOT TOUCH

PORT = 3000 # designated app port (only for dev enviroment, remove for docker deployment)

PGPORT = 11000 # internal open postgres port (only for docker deployment, remove for dev enviroment)
FIPORT = 4100 # internal open postgres port (only for docker deployment, remove for dev enviroment)

COMPACTINTRO = false # show big ASCII art or small text on app lauch

MAILSERVER = "mail.example.com" # mail server adress
MAILBOX = example@example.com # mail box
MAILBOXPASS = 12345678 # mail box password

ISFRESH = true # remove to launch the app
