.postmaster-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .head-bar {
        background-color: var(--background);
        width: 100%;
        padding: 10px;
        border-radius: 100vh;
    }

    .posts-field{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
}

.postmaster-create-post-container {
    border: 3px solid var(--outline);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: visible;

    .files-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        &.hidden {
            display: none;
        }
    }
}