.post-view-container {
    min-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;

    @media (max-width: 700px) {
        grid-template-columns: auto;
    }

    .post-data-block {
        max-width: 250px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;

        grid-row: 1;
        grid-column: 1;

        @media (max-width: 700px) {
            grid-column: 1;
            grid-row: 2;
        }

        &>* {
            padding: 10px;
            border-radius: 10px;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }

        .post-tags-column {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .tags-block {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .file-data-container {
            display: flex;
            flex-direction: column;
        }

        .rating-label-cont {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    }

    .post-conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;

        .post-label {
            align-self: normal;

            .post-name {
                font-size: 25px;
            }
        }

        .files-cont {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            overflow: hidden;
            max-height: 700px;

            .internal-page-navigator {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                top: 10px;

                .page-button {
                    background-color: color-mix(in srgb, var(--background) 50%, transparent 50%);
                    backdrop-filter: blur(5px);

                    &.active {
                        cursor: pointer;

                        &:hover {
                            background-color: var(--outline);
                            color: var(--background);
                        }
                    }
                }
            }

            .internal-image-container {
                img {
                    max-height: 700px;
                    object-fit: contain;
                }
            }

            .internal-video-container {}
        }

        .control-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background-color: var(--background);
            border-radius: 100vh;
            padding: 10px;

            .rating-block {
                display: flex;
                flex-direction: row;
                align-items: stretch;

                .score-text-cont {
                    padding: 5px;
                    background-color: var(--background-s);
                    border: solid 3px var(--interactible-passive);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-left: none;
                    border-right: none;

                    .score-text {
                        &.up {
                            color: var(--ok-color);
                        }

                        &.down {
                            color: var(--nok-color);
                        }
                    }
                }

                .btn-up {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-right: 5px;
                    border-right: none;

                    &:hover {
                        color: var(--ok-color);
                    }

                    &.active {
                        color: var(--ok-color);
                    }
                }

                .btn-down {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding-left: 5px;
                    border-left: none;

                    &:hover {
                        color: var(--nok-color);
                    }

                    &.active {
                        color: var(--nok-color);
                    }
                }

                .btn-up,
                .btn-down {
                    &:disabled {
                        &:hover {
                            color: var(--background);
                        }
                    }

                    &:hover {
                        border-color: var(--outline);
                    }
                }
            }

            .fav-btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                &.faved {
                    .heart {
                        color: var(--ok-color);
                    }
                }
            }
        }
    }

    .internal-message-box {}
}