.post-view-container {
    min-width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    @media (max-width: 700px) {
        grid-template-columns: auto;
    }

    .post-data-block {
        max-width: 250px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;

        grid-row: 1;
        grid-column: 1;

        @media (max-width: 700px) {
            grid-column: 1;
            grid-row: 2;
        }

        &>* {
            padding: 10px;
            border-radius: 10px;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }

        .post-tags-column {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .tags-block {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .file-data-container {
            display: flex;
            flex-direction: column;
        }

        .rating-label-cont {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

        .rating-block {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 5px;

            .score-text-cont {
                padding: 5px;
                background-color: var(--background-s);
                border: solid 3px var(--interactible-passive);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .btn-up {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-right: 5px;
            }

            .btn-down {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-left: 5px;
            }
        }
    }

    .post-conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .post-label {
            align-self: normal;

            .post-name {
                font-size: 25px;
            }
        }

        .internal-image-container {
            grid-column: 2;
            grid-row: 1;
            width: fit-content;
            height: fit-content;

            @media (max-width: 700px) {
                grid-column: 1;
                grid-row: 1;
            }

            img {
                max-height: 700px;
                object-fit: contain;
            }
        }
    }
}