header {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: start;

    img {
        height: 30px;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        &>* {
            background-color: var(--background-s);
            padding: 10px;
            border-radius: 10px;
        }

        .user-label {
            margin-left: auto;
        }

        .hidden {
            display: none;
        }

        @media (max-width: 700px) {
            justify-content: center;
        }
    }
}