header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: start;
    overflow: visible;

    img {
        height: 30px;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        overflow: visible;

        &>* {
            background-color: var(--background-s);
            padding: 10px;
            border-radius: 10px;
        }

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: start;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 5000;
            background-color: color-mix(in srgb, var(--background) 50%, transparent 50%);
            backdrop-filter: blur(5px);
            padding: 10px;
            border-radius: 10px;

            transform: translateX(-100%);

            transition: 0.2s;

            &.open {
                transform: translateX(0);
            }
        }
    }

    .burger-menu-button {
        background-color: var(--background-s);
        padding: 10px;
        border-radius: 10px;
        display: none;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        @media (max-width: 700px) {
            display: flex;
        }
    }

    .internal-dropdown {
        border: none;
        border-radius: 10px;
        padding: 0;

        .label {
            padding: 10px;
        }

        .options-block {
            top: 100%;
        }
    }
}