.message-block-cont {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
    width: fit-content;
    flex-shrink: 0;

    .msg-block {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;

        .internal-user-card {
            padding: 5px;
            background-color: var(--background-s);
            border-bottom: 1px solid var(--outline);
            border-radius: 0;
            width: 100%;
        }

        .text {
            padding: 5px;
            background-color: var(--background-s);
            max-width: 25vw;

            text-wrap: wrap;
            word-break: break-word;

            border-bottom: 1px solid var(--outline);

            @media (max-width: 700px) {
                max-width: unset;
            }

            &.deleted {
                color: color-mix(in srgb, var(--font-main) 50%, var(--background-s) 50%);
            }
        }

        .time-row {
            background-color: var(--background-s);
            padding: 5px;
            font-size: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            border-top: 1px solid var(--background-s);

            .edited-icon {}

            .sent-at {}

            .control-row {
                margin-left: auto;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px;

                .icon-elem {
                    cursor: pointer;
                }

                .edit {
                    background-color: var(--ok-color);
                }

                .rm {
                    background-color: var(--nok-color);
                }
            }
        }
    }
}