.label-elem {
    border: 1px solid var(--internal-label-color, var(--outline));
    background-color: color-mix(in srgb, var(--internal-label-color, var(--outline)) 60%, black 40%);
    padding: 3px 6px;
    border-radius: 100vh;
    color: #ffffff;
    width: fit-content;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    transition: 0.2s;

    .text {
        text-align: center;
    }

    &.transparent-bg {
        background-color: color-mix(in srgb, var(--internal-label-color, var(--outline)) 60%, transparent 40%);
        backdrop-filter: blur(2px);
    }
}