.furry-index-logo {
    background: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
    border-radius: 100vh;
    padding: 5px;

    .foreground {
        background-color: #fff;
        border-radius: 100vh;
        padding: 10px 20px;

        .text {
            background-clip: text;
            background-image: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
            color: transparent;
            text-align: center;
        }
    }
}