.main-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .FI-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        font-size: 60px;

        .welcome {}

        .FI-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 30px;

            .FI-text {
                background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }
    }

    .bigLabel {
        font-size: 25px;
    }

    .latest-posts {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}