.internal-user-card {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;

    .avatar-cont {
        .avatar-border {
            padding: 5px;
            background-color: var(--background-s);
            border-radius: 5px;

            .internal-image-container {
                max-height: 60px;
                max-width: 60px;
                border-radius: 2.5px;
            }
        }
    }

    .side-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        .user-link {
            font-size: 12px;
        }

        .role-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 200px;
            gap: 5px;

            &.hidden {
                display: none;
            }
        }
    }

    &.message-header {
        background-color: var(--background-s);
        border-radius: 0;
        gap: 5px;
        width: auto;

        .avatar-cont {
            .avatar-border {
                padding: 2px;
                background-color: var(--background);
                border-radius: 4px;

                .internal-image-container {
                    max-height: 15px;
                    max-width: 15px;
                    border-radius: 2px;
                }
            }
        }

        .side-block {
            flex-direction: row;
            align-items: center;

            .user-link {}
        }
    }

    &.shape-round {
        .avatar-cont {
            .avatar-border {
                border-radius: 100vh;

                .internal-image-container {
                    border-radius: 100vh
                }
            }
        }
    }

    &.shape-portrait {
        .avatar-cont {
            .avatar-border {
                .internal-image-container {
                    max-height: 120px;
                    max-width: 60px;
                }
            }
        }
    }

    &.shape-landscape {
        .avatar-cont {
            .avatar-border {
                .internal-image-container {
                    max-height: 60px;
                    max-width: 120px;
                }
            }
        }
    }
}