.input-container {
    position: relative;
    width: fit-content;
    overflow: visible;

    input {
        position: relative;
        color: var(--font-main);
        font-size: 16px;
        border: solid 3px var(--border-clr-internal, var(--interactible-passive));
        padding: 6px 12px;
        border-radius: 100vh;
        background-color: var(--background-s);
        caret-color: var(--font-main);
        transition: 0.2s;

        min-width: 300px;

        &:focus {
            outline: none;
            border-color: var(--border-clr-internal, var(--interactible-hover));
        }

        &:hover {
            border-color: var(--border-clr-internal, var(--interactible-hover));
        }

        &:focus+label,
        &:not(:placeholder-shown)+label {
            left: 100%;
            transform: translateY(-50%) translateX(-100%);
            opacity: 0;
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 18px;
        color: var(--font-main);
        transform: translateY(-50%);
        cursor: text;
        background-color: var(--background-s);
        transition: 0.25s;
        padding: 4px 12px;
        user-select: none;
        background-color: transparent;
        white-space: nowrap;
    }

    .checks-box{
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}