.input-container {
    position: relative;
    width: fit-content;
    overflow: visible;

    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
        position: relative;
        color: var(--font-main);
        font-size: 16px;
        border: solid 3px var(--border-clr-internal, var(--interactible-passive));
        padding: 3px 9px;
        border-radius: 10px;
        background-color: var(--background-s);
        caret-color: var(--font-main);
        transition: 0.2s;

        min-width: 300px;

        &:focus {
            outline: none;
            border-color: var(--border-clr-internal, var(--interactible-hover));
        }

        &:hover {
            border-color: var(--border-clr-internal, var(--interactible-hover));
        }

        &:focus+label,
        &:not(:placeholder-shown)+label {
            left: 100%;
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    textarea {
        border: 3px solid var(--outline);
        padding: 3px;
        border-radius: 10px;
        resize: none;
        font-size: 16px;
        color: var(--font-main);
        background-color: var(--background-s);
        transition: 0.2s;
        overflow: auto;
        min-width: 300px;
        min-height: 100px;

        flex-grow: 1;

        &:focus,
        &:hover {
            border-color: var(--font-hover);
            outline: none;
        }

        &:focus+label,
        &:not(:placeholder-shown)+label {
            left: 100%;
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    input:disabled,
    textarea:disabled {
        border-color: color-mix(in srgb, var(--outline) 50%, #000 50%);
        cursor: not-allowed;

        +label {
            color: color-mix(in srgb, var(--font-main) 50%, #000 50%);
            cursor: not-allowed;

            +.limit-elem {
                border-color: color-mix(in srgb, var(--outline) 50%, #000 50%);
                color: color-mix(in srgb, var(--font-main) 50%, #000 50%);
            }
        }
    }

    label {
        position: absolute;
        left: 3px;
        top: 3px;
        color: var(--font-main);
        // transform: translateY(-50%);
        cursor: text;
        background-color: var(--background-s);
        transition: 0.2s;
        padding: 3px 9px;
        user-select: none;
        background-color: transparent;
        white-space: nowrap;
    }

    .limit-elem {
        background-color: var(--background-s);
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 100vh;
        border: 3px solid var(--outline);
        width: fit-content;
        cursor: default;
    }

    .checks-box {
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: 0.2s;
    }
}