footer {
    background-color: var(--background-s);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .github-link {
        color: #000;
        background-color: #fff;
        padding: 5px;
        border-radius: 100vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .internal-image-container {
            width: fit-content;
            height: fit-content;
            overflow: auto;

            img {
                width: 24px;
                height: 24px;
                display: block;
            }
        }
    }

    .policies-cont {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.key-redeem-window {
    background-color: var(--background-s);
    border: 3px solid var(--outline);
    border-radius: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .label {}
}

.internal-overlay {
    .BT-info-cont {
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow-y: auto;

        background-color: color-mix(in srgb, var(--background) 90%, transparent 10%);
        padding: 20px;
        border-radius: 20px;

        .info-block {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;

            .label {
                font-size: 25px;
                font-weight: bold;
            }

            .text {
                max-width: 700px;
            }

            &.acc {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}