footer {
    background-color: var(--background-s);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .github-link {
        color: #000;
        background-color: #fff;
        padding: 5px;
        border-radius: 100vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .internal-image-container {
            width: 24px;
            height: 24px;
        }

    }
}