.postmaker-post-container {
    border: 3px solid var(--outline);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: visible;
    background-color: var(--background);

    .files-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        &.hidden {
            display: none;
        }

        .file-card {
            .order-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &.hidden {
                    display: none;
                }
            }
        }
    }

    .no-files {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &.hidden {
            display: none;
        }
    }

    .btn-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}